body{
    background-color: rgba(0, 0, 0, 0.758);
    color: white;
    margin: 10px;
   margin-left: 20px;
} 
.logo{
    width: 40px;
    height: 40px; 
    margin-right: 8px;
margin-top: 10px; 
}  
.Home{
    color: black;
    font-weight: bold;
   font-size:25px;
}
.NavigateBar{
    background-color:rgb(168, 1, 1);;
    text-align: right;
    padding-bottom:10px ;
    border:0px;
    border-bottom:2px ;   
    border-color:rgb(43, 42, 42);
    border-style: solid;
}
.MainPage{
    text-align: center;
   
   }

.bigger{
    font-size: 40px;
    font-weight: bolder;
    font-style: italic;
color: black;
}

.imp{
    text-decoration: underline;
    color: red;
    font-size: 25px;
}